<div>
  <div class="doc">
    <kh-icon name="file-lock" class="doc-lock" />
    <span class="mono">{{ doc().file }}</span>
    @if (showPreview()) {
      <div>
        @if (doc().href; as href) {
          <a class="btn btn-primary btn-xs" [href]="href" target="_blank" rel="noopener">
            {{ t('docTile.openSecurePreview') }}
          </a>
        } @else {
          <button type="button" class="btn btn-primary btn-xs">{{ t('docTile.openSecurePreview') }}</button>
        }
      </div>
    }
  </div>
  <div class="doc-label">
    <span class="doc-label-text">{{ doc().label }}</span>
    <span class="pill" [class]="toneClass(doc().tone)">{{ doc().status }}</span>
  </div>
  <div class="doc-meta">{{ doc().meta }}</div>
</div>
